{validate_app_modules, true}.
{erl_opts, [warnings_as_errors, debug_info,
            {parse_transform, lager_transform}]}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.

{deps, [
        {lager, "2.*", {git, "git://github.com/basho/lager",
                        {tag, "7993c8f8a2626b91babd27d1153c63d6a0001589"}}},

   %% For testing only
        {meck, "0.*", {git, "https://github.com/eproxus/meck.git", {branch, "master"}}},
       {proper, "1.1", {git, "https://github.com/manopapad/proper.git", "HEAD"}}
       ]}.

%% == xref ==

{xref_warnings, false}.

%% xref checks to run
{xref_checks, [exports_not_used, undefined_function_calls]}.


%%-*- mode: erlang -*-
